html {
  scroll-behavior: smooth;
}

#nosotros {
  scroll-margin-top: 80px; /* Ajusta según la altura de tu navbar */
}

body::before {
  display: block;
  content: "";
  height: 10px;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container .img-nav {
  width: 50%;
  height: auto;
}

/* NAVBAR */
.navbar-nav {
  margin-left: -1%;
  width: 45%;
  background-color: #ffff; /* Cambié "dark" por un color real */
  color: #fff;
  padding: 10px 0;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  display: flex;
  padding: 0;
}

.navbar ul li {
  margin: 0 1em;
  list-style: none;
}

/* ICONOS */
.navbar-social-icons a {
  margin-right: 10px;
}

.icon-wp,
.icon-fb,
.icon-mail {
  width: 24px;
  height: 24px;
  color: black;
}

.icon-wp:hover {
  color: rgb(2, 133, 2);
}

.icon-fb:hover {
  color: rgb(4, 0, 255);
}

.icon-mail:hover {
  color: rgb(255, 0, 0);
}

/* PORTADA AMULETOS */
.portada-amuletos {
  background-image: url("../img/amulet-713355_1280.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: gold;
  padding: 20px;
  position: relative;
}

.portada-amuletos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5)
}

.portada-contenido-amuletos {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
}

.titulo-portada-amuletos {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.descripcion-portada-amuletos {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.elementos-amuletos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.elemento {
  text-align: center;
}

.elemento img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.imagen-responsive {
  max-width: 100%; /* Asegura que la imagen no se extienda más allá de su contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.imagen-responsive:hover {
  transform: scale(1.05);
}

/* ESTILO SECCIÓN AMULETOS */
.lecturas-espirituales {
  text-align: center;
  padding: 50px 20px;
  background-color: #111;
  color: #fff;
}

.titulo-seccion {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #e4c17b, 0 0 20px #e4c17b;
}

.contenedor-banners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.banner {
  position: relative;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 1.2s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.contenido-banner {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 20px;
}

.contenido-banner h3 {
  font-size: 2em;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #000000, 0 0 20px #000000;
}

.contenido-banner p {
  font-size: 1.1em;
  text-shadow: #000000 0px 0px 10px, #000000 0px 0px 20px;
}

.banner:hover .overlay {
  background: rgba(0, 0, 0, 0.3);
}

.amuleto-talismanes {
  background-image: url('../img/talis.webp');
}

.amuleto-ojo {
  background-image: url('../img/ojo.webp');
}

.amuleto-cruz {
  background-image: url('../img/amule.webp');
}

.amuleto-estrella {
  background-image: url('../img/amule-2.webp');
}

.amuleto-amor {
  background-image: url('../img/amor.webp');
}

.amuleto-riqueza {
  background-image: url('../img/riqueza.webp');
}

.amuleto-moneda {
  background-image: url('../img/moneda.webp');
}

/* BANNERS DE VELAS */
.vela-blanca {
  background-image: url('../img/vela-blanca.png');
}
.vela-roja {
  background-image: url('../img/vela-roja.png');
}
.vela-verde {
  background-image: url('../img/vela-verde.png');
}
.vela-amarilla {
  background-image: url('../img/vela-amarilla.png');
}
.vela-azul {
  background-image: url('../img/vela-azul.png');
}
.vela-morada {
  background-image: url('../img/vela-morada.png');
}

/* Aplica el mismo estilo de .banner, .overlay, .contenido-banner como en la sección de amuletos */


